.Form {
  width: 100%;
  display: flex;
  flex-direction: row;

  height: 100%;
  padding: 24px;

  & > div {
    padding: 16px 0;
  }

  & > div:first-child {
    flex: 3;
    border-right: 1px solid #efefef;
    margin-left: -16px;
  }

  & > div:last-child {
    flex: 9;
    padding: 16px;
  }

  @media screen and (max-width: "767px") {
    & {
      flex-direction: column;

      & > div {
        flex: 1;
      }

      & > div:first-child {
        border-right: none; 
        margin-left: 0;
      }
    }
  }

  .TextField {
    margin: 16px 0;
    display: flex;

    label {
      flex: 1;
      display: inline;
      margin-right: 16px;
    }

    input {
      flex: 8;
    }
  }

  .inline-form {
    .TextField {
    
      input {
        display: inline-block;
        width: 25%;
      }
      
      label {
        display: inline;
        margin-right: 16px;
      }
    }
  }
  
}
